*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    height: 10%;
    background-color: #F3F5FC;
}

#logo{
    margin: 20px 0px 10px 20px;
    width: 40px;
    height: 30px;
}

.contenedor{
    display: flex;
    height: 100%;
}

.contenedor-d{
    width: 65%;
    background-color: #F3F5FC;
}

.encriptar{
    height: 90%;
    padding: 60px 100px 80px 160px;
}

#encriptar-text{
    border: transparent;
    width: 100%;
    height: 90%;
    background-color: #F3F5FC;
}

.info{
    display: flex;
    margin: 10px 0px;
}

#advertencia{
    width: 18px;
    height: 18px;
    margin: 0px 5px 0px 0px;
}

.botones{
    display: flex;
    justify-content: space-around;
}


#boton-encriptar,#boton-desencriptar{
    width: 40%;
    height: 40px;
    border-radius: 15px;
}

.desencriptar{
    width: 35%;
    background-color: #F3F5FC;
    padding: 40px;
}

#desencriptar-text{
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 15px;
    display: none;
}

#vacio{
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 40% 20px;
    text-align: center;
}


#buscar{
    width: 200px;
}

h3{
    margin: 10px 0px;
}